.now-g-captcha {
  display: flex;
  justify-content: center;

  .ngc-container {
    padding: 20px 30px;
    border: 1px solid #cecece;
    border-radius: 15px;
    box-shadow: 4px 2px 15px 2px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ngc-item {
    flex: 0 1 30%;
    padding: 0 10px;
  }

  .ngc-icon-box {
    width: 20px;
    height: 20px;
    border: 2px solid #cecece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.--not-verified {
      .ngc-icon {
        width: 10px;
        height: 10px;
        background: #cecece;
        border: 1px solid #cecece;
        border-radius: 50%;
      }
    }
    &.--verified {
      border-color: #78b13f;
      .ngc-icon {
        font-size: 37px;
        display: block;
        margin-top: -13px;
        margin-left: 9px;
        color: #78b13f;
      }
    }
    &.--expired,
    &.--errored {
      border-color: #ee3838c9;
      .ngc-icon {
        font-size: 35px;
        margin-top: -3px;
        display: block;
        color: #ee3838c9;
      }
    }
  }
}
